.list {
    position: absolute;
    list-style: none;
    padding-left: 0;
    z-index: 1;
    background-color: #EFEFaa;
}

.element {
    background-color: lightblue;
    font-size: 12px;
    text-align: start;
    width: 175px;
    padding: 2px 5px;
    margin: 5px;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

