.item {
    position: relative;
    height: 10rem;
    border: 1px solid #d3d3d3;
    cursor: pointer;
}

.item.not-empty {
    background-color: cornflowerblue;
    border: 1px solid blue
}

.item-date {
    line-height: 0;
    padding-left: 0.5rem;
    color: #808080;
}

.item-text {
    padding: 0 10px;
    overflow: hidden;
}