.item {
  position: relative;
  height: 10rem;
  border: 1px solid #d3d3d3;
  cursor: pointer;
}

.item.notEmpty {
  background-color: #ccffff;
  border: 1px solid #66b2ff;
}

.item.clicked {
  background-color: #ccffff;
  border: 1px solid #66b2ff;
}

.itemDate {
  line-height: 0;
  padding-left: 0.5rem;
  color: #808080;
}

.itemText {
  padding: 0 10px;
  overflow: hidden;
}