.form {
  position: absolute;
  min-height: 4rem;
  min-width: 20rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
  left: 3%;
  top: 9%;
  z-index: 1;
}

.form:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #d3d3d3 transparent;
  left: 1.5rem;
  top: -1rem;
}

.form input {
  display: flex;
  flex-direction: row;
  width: 86%;
  margin: 0.5rem auto;
  border-width: 2px;
  border-top-width: 3px;
  border-top-color: dimgrey;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 5px;
  outline: none;
}

.close {
  border: none;
  background-image: url(/src/assets/images/close.png);
  padding: 1rem 1rem;
  margin-top: 0.5rem;
  background-color: transparent;
  background-repeat: no-repeat;
  float: right;
  cursor: pointer;
}

.add {
  margin: 0.5rem 0.5rem 2rem 1rem;
  background-color: #f7f7f7;
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}